@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Expanded|Montserrat|Oswald:700');

html {
    background: url(shyam-sundar-431441.jpg) no-repeat center center fixed;
    background-size: cover;
}

.App {
    /*background-color: #2F4F4F;*/
}

.App-header {
  height: 11rem;
  padding: 0rem 2rem;
}

.App-heading {
    background-color: white;
    opacity: 0.55;
    width: 28%;
    border-radius: 7.5px;
}

.Title-Link {
    text-decoration: none;
}

.App-heading h1 {
    font-family: "Oswald", sans-serif;
    font-size: 3.5rem;
    color: black;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    margin-bottom: 0rem;
}

.nav-links {
    list-style: none;
    padding-left: 0;
    margin: none;
}

.nav-links li {
    background-color: white;
    opacity: 0.55;
    margin-right: 0.1875rem;
    padding: 0.15625rem 0.3125rem 0.15625rem 0.3125rem;
    border-radius: 2.5px;
    display: inline-block;
    font-family: "Encoded Sans Expanded", sans-serif;
    font-size: 1.375rem;
}

.nav-links a {
    text-decoration: none;
    color: darkgray;
}

.nav-links a:hover {
    color: black;
}


.App-Switch {
    position: relative;
}

.App-Space {
    height: 5rem;
}

.App-Footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 6.875rem;
}

.App-Footer p {
    font-family: 'Montserrat', sans-serif;
    color: darkgray;
    text-align: right;
    font-size: 0.75rem;
}
