.MainMenu-Main {
    list-style: none;
    padding-left: 0;
    margin: none;
}

.MainMenu-Main li {
    background-color: white;
    opacity: 0.55;
    margin-right: 0.1875rem;
    padding: 0.15625rem 0.3125rem 0.15625rem 0.3125rem;
    border-radius: 2.5px;
    display: inline-block;
    font-family: "Encoded Sans Expanded", sans-serif;
    font-size: 1.375rem;
}

.MainMenu-Main a {
    text-decoration: none;
    color: darkgray;
}

.MainMenu-Main a:hover {
    color: black;
}
