.SquareLink-Image {
    width: 12.5rem;
    height: 5rem;
    /*background-color: white;
    background-image: url(./Blackboard_Inc._logo.png);*/
    /*background-size: contain;
    background-position: */
    /*background-position: 50% 35%;*/
    border-radius: 5px;
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.2);
    margin: 0 1.75rem 1rem 0;
}

.SquareLink-Hover-Only {
    width: 100%;
    height: 100%;
    opacity: 0.40;
}

.SquareLink-Hover-Only:hover {
    border-radius: 2.5px;
    background-color: lightgray;
}
